.nav-container{
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 10px 20px;
    font-weight: 600;
    background-color: #fff;
    z-index: 10;
}
.nav-link{
    margin: auto 10px;
}